* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

.text-field {
  padding: 5px 15px;
  background-color: $dark-alt;
  color: $light;
  border: none;
  outline: none;
  &.h-full {
    height: 100%;
  }
  &.search-field {
    width: 430px;
  }
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}
